



#header{
    float:left;
    width:25%;
    padding-left: 5%;
    padding-top: 30px;
    padding-bottom: 30px;

    background-color:white;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    text-align:right;
}

.subtitle{
    color:grey;
}

#header a:link, a:visited { 
    text-decoration: none; 
    color:black;
}

#header a:hover { 
    color:grey;
}






#static-links{
    float:left;
    width:50%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left:100px;

    text-align:left;
    background-color:white;
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
}

#static-links a:link, a:visited { 
    text-decoration: none; 
    color:black;
}

#static-links a:hover { 
    color:grey;
}

#static-links li{
    list-style-type: none;
    padding-bottom:5px;
}





#footer{
    float:left;
    padding-left: 25%;
    width:50%;

    background-color:white;
    font-family: 'Oxygen', sans-serif;
    color:grey;
    font-size: 12px;
    padding-top:50px;
    padding-bottom: 50px;
}

#footer hr{
    display: block; 
    height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; 
    padding-bottom: 5px; 
}

#footer a:link, a:visited { 
    text-decoration: none; 
    color:black;
}

#footer a:hover { 
    color:grey;
}







body{
    text-align:center;
}


#content{
    clear:both;
    width:600px;
    margin:0 auto 0 auto;

    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    text-align:left;
 
}


#content a:link, a:visited { 
    text-decoration: none; 
    color:black;
}

#content a:hover { 
    color:grey;
}

#content h1{
    padding-top:60px;
}






blockquote{
    font-style:italic;
    border-left: 5px solid #ccc;
    margin-left: 25px;
    padding-left: 25px;
}


pre {
  font-family: "Courier New", Courier, monospace;
  position:relative;
  margin-left:20px;
}


.image
{
    width:600px;
    display: table-cell;
    text-align: center;
}


.image > img {
  vertical-align: middle;
}

img{
    margin:30px;
    padding:3px;
    border: 1px solid #ccc;
}


.small{
    font-size:12px;
    color:grey;
}